*{
    box-sizing: border-box;
}

body{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 18px; 
}


.main-form{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.form-section {
    padding-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.genders{
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 20px;
}

.gender-options{
    display: flex;
    gap: 60px;

}

#birthday {
   margin-left: 15px;
   width: 68%;
}

legend{
    font-size: 18px; 
    font-weight: bold;
}


/* Contacts */

.add{
    display: flex;
    
}

textarea {
    height: 25px; 
    width: 175px;
}

#address{
    margin-left: 18px;
}

#email {
    margin-left: 32px;
}
#phone{
    margin-left: 26px;

}
/* Car Info */


#brand,
#model {
    margin-left: 95px;
    width: 50%;
}
#used{
    margin-left: 15px;
    margin-bottom: 10px;
}

#price{
    width: 56%;
}


.form-group-input-price input{
    width: 56%;
    
}

#money{
    display: flex;
   
}


.button-container{
    padding-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}